@import "tailwindcss";
@media screen and (max-width: 1399px) {
  .cd-none {
    display: none;
  }
  .bg-login {
    background-image: url("../public/images/loginback.png");
    width: 100% !important;
    object-fit: cover;
    background-repeat: no-repeat;
  }
}
